* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: #caf0f8;
  font-size: 1rem;
  color: #000;
  line-height: 1.4rem;
  font-weight: 500;
}

.flex {
  &__row {
    display: flex;
    flex-direction: row;
  }
  &__cols {
    display: flex;
    flex-direction: column;
  }
}
.grid {
  display: grid;
}
